<footer>
    <div class="container">
        <div class="row mt-4 pt-1 justify-content-center">
            <div class="col-md-6 col-10 text-center">
                <p class="mb-0">Email:</p>
                <a href="mailto:solymos@invent-systema.hu">solymos@invent-systema.hu</a>
                <p>Telefon: +36 30 940 3911</p>
            </div>
        </div>
    </div>
</footer>