<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 sticky-top">
      <a href="/index.html" class="navbar-brand">Systema</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navLinks">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Termékek</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/oha/">Szalagfűtés, csarnokfűtés OHA</a>
            <a class="dropdown-item" href="/infra12/">Infra B12-R</a>
            <a class="dropdown-item" href="/infras/">Sötétsugárzók INFRA</a>
            <a class="dropdown-item" href="/eolo/">Hőlégfúvók EOLO</a>
            <a class="dropdown-item" href="/mezgaz/">Mezőgazdasági fűtőberendezések BAF</a>
            <a class="dropdown-item" href="/fresco/">Csarnokhűtés Fresco OK</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="/szolgaltatasok/" class="nav-link">Szolgáltatások</a>
          </li>
          <li class="nav-item">
            <a href="/segedlet/" class="nav-link">Tervezési segédletek</a>
          </li>
          <li class="nav-item">
            <a href="/ohaseged/" class="nav-link">OHA Segédletek</a>
          </li>
          <li class="nav-item">
            <a href="/referencia/" class="nav-link">Referenciák</a>
          </li>
          <li class="nav-item">
            <a href="/blog/" class="nav-link">Híreink</a>
          </li>
        </ul>
      </div>
    </nav>
