---
title: Hőlégfúvók EOLO
layout: 'base.njk'
---

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 text-center mt-3">
          <h2>EOLO GÁZÜZEMŰ ZÁRT ÉGÉSTERŰ HŐLÉGFÚVÓK</h2>
          <h3>AXIÁLIS -és RADIÁLIS VENTILÁTORRAL</h3>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center">
        <div class="col-3 align-self-center">
          <img src="../imgs/eoloax1.jfif">
          <img src="../imgs/eoloax3.jfif">
        </div>
        <div class="col-5">
          <h4 align="center">AE Axiál ventilátorral</h4>
          <h5 align="center">20AE, 30AE, 50AE,70AE,90AE</h5>
          <h6>Előnyök:</h6>
          <ul>
            <li><b>Gyors telepíthetőség, egyszerű szerelés</b></li>
            <li><b>Zárt égéstér, parapetbe is köthető</b></li>
            <li><b>Gyors felfűtés</b></li>
            <li><b>Alacsony zajszint</b></li>
            <li><b>Rozsdamentes tűztérnek köszönhetően a tartós kondenzációnak is ellenáll</b></li>
            <li><b>Könnyen tisztítható</b></li>
            <li><b>Esztétikus megjelenés</b></li>
            <li><b>Magas hatásfok</b></li>
            <li><b>Földgáz, PB, olaj tűzelőanyagra is alkalmas</b></li>
            <li><b>Minimális helyigény</b></li>
            <li><b>Nyári üzemmódra is alkalmas</b></li>
            <li><b>Automatikus üzem, egyszerű szabályzó</b></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center">
        <div class="col-5">
          <h4 align="center">AC Radiális ventilátorral</h4>
          <h5 align="center">20AC, 30AC, 50AC, 70Ac, 90AC</h5>
          <h6>További előnyők:</h6>
          <ul>
            <li>Légcsatornához is illeszthető</li>
            <li>A szűrőbetét gyorsan tisztítható, illetve cserélhető</li>
            <li>A zárt égéstér nagyobb biztonságot nyújt</li>
            <li>A 90 kW-os kivitel a legnagyobb igényeket is kielégíti</li>
            <li>Biztonsági bi-termosztát az AC és AE kivitelben is</li>
          </ul>
        </div>
        <div class="col-3 align-self-center">
          <img src="../imgs/eolocentr2.jfif">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5">
          <h6>Vezérlés:</h6>
          <ul>
            <li><b>Teljesen automatikus üzem helyiségtermosztáttal</b></li>
            <li><b>Széles mérési tartomány (6-30 C)</b></li>
            <li><b>Nyári üzemmódban légcirkuláltatást 
              végez</b></li>
            <li><b>Egyszerű kezelés</b></li>
            <li><b>Hibakijelzés</b></li>
            <li><b>Esztétikus megjelenés</b></li>
          </ul>
        </div>
        <div class="col-3 align-self-center">
          <img src="../imgs/eolovez.jfif">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 text-center">
          <img src="../imgs/eolonezet.jpg">
        </div>
      </div>
    </div>