---
title: Fresco OK
layout: 'base.njk'
---

    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-10 text-center">
          <br>
          <h2>Fresco OK</h2>
          <br>
          <h4>Vízpárologtatós (evaporatív) hűtő rendszer csarnokok gazdaságos hűtésére.</h4>
          <br>
          <p>A Fresco OK egy egyszerű és gazdaságos berendezés, amit nagy terek hűtésére fejlesztettek ki. A Fresco OK beruházási és üzemeltetési költsége alacsony.</p>
          <!-- <img src="../imgs/fresco-closed.jpg" style="max-width: 50%;"> -->
          <hr>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-6">
          <h4>A berendezés működési elve:</h4>
          <p>Víz elpárologtatásával hőenergiát vonunk el a csarnokba belépő levegő hőenergiájából, így a csarnokba belépő levegő hőmérséklete csökken. A lehűtött levegővel állandó légcsere mellett megvalósítható a csarnok munkaterületének hűtése.</p>
          <p>A külső levegőt ventilátorok szívják át a benedvesített speciális cellulóz szűrő paneleken és így a levegő hőmérséklete csökken. A lehűtött levegő légelosztókon át jut a csarnok alsó légterébe.</p>
          <hr>
          <h4>A Fresco OK hűtőberendezés előnyei:</h4>
          <ul>
            <li>Gazdaságos berendezés.</li>
            <li>Javítja a komfortérzetet, a termelékenységet és a gyártás minőségét.</li>
            <li>Stabilizálja a csarnok belső hőmérsékletét. Hőérzékeny termékek is tárolhatók.</li>
            <li>A légcsereszám elérheti óránként a 25 értéket. A csarnok légtere így egészséges és szagmentes lesz. A levegő a csarnokban por és füstmentes. A technológiai hő is elvezethető.</li>
            <li>Kevésbé meleg időszakokban a berendezés víz nélküli ventilátoros üzemmódban hűtésre és a levegő szűrésére is alkalmazható.</li>
            <li>Az üzemeltetési zajszint alacsony.</li>
            <li>Gazdaságos beépítési, üzemeltetési és karbantartási költség.</li>
            <li>Az emisszió O, mivel a hűtő rendszerben nincs hűtő közeg, csak tiszta víz.</li>
            <li>Egyszerű szellőztetésre és használható.</li>
          </ul>
        </div>
        <div class="col-6 text-center">
          <img src="../imgs/fresco.jpg" style="max-width: 100%; max-height: 100%;">
          <img src="../imgs/fresco-closed.jpg" style="max-width: 100%; max-height: 100%;">
        </div>
        <hr>
      </div>
    </div>
