---
title: Systema
layout: 'base.njk'
---

    <section class="container">
      <div class="row text-white justify-content-around my-5">
        <div class="col-8 text-center">
          <h3>Tisztelt látogató!</h3>
          <p>Üdvözlöm Önöket megújult honlapunkon, melyet úgy kívántunk kialakítani, hogy az érdeklődő, tájékozódni kívánó beruházóktól kezdve a tervezőkig lehetőleg mindenki igényeit kielégítse. Az oldalakon ezért elhelyeztünk, az általános felhasználási területekről egy fényképes gondolatébresztőnek szánt áttekintést, illetve a berendezések tervezéséhez szükséges műszaki táblázatoknak külön fejezetet alakítottunk ki.</p>
        </div>
      </div>

      <div class="row text-white justify-content-around align-items-center blurb">
        <div class="col-lg-4 col-md-6">
          <h3>A CÉG</h3>
          <p class="text-justify">A Systema S.p.A. 1984-es létrehozása óta, a sötétsugárzó és csarnokfűtő, valamint -hűtő berendezések gyártásának területén, a piac egyik legjelentősebb szereplője. A világ 30 országában van hivatalos képviseletünk, melynek legnagyobb része az EU-ban található, de a világ távolabbi régióiban is jelen vagyunk, például Koreában. A folyamatos fejlesztés, termelés műszaki hátterének biztosítására 16 000m2 épület és 6000 m2 fedett gyártócsarnok áll rendelkezésre, amelyben a kutató laboratóriumokon át az összeszerelő csarnokig minden megtalálható. Büszkék vagyunk arra, hogy magas műszaki színvonalú termékeink olyan országokban is megállják a helyüket, mint Nagy-Britannia.</p>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <img src="imgs/sport.jpeg" alt="">
        </div>
      </div>

      <div class="row text-white justify-content-around align-items-center blurb">
        <div class="col-lg-4 col-md-6 text-center order-2 order-md-1">
          <img src="imgs/kezdok2.jpeg" alt="">
        </div>
        <div class="col-lg-4 col-md-6 order-1 order-md-2">
          <h3>Miért épp Systema?</h3>
          <p class="text-justify">A vezető tervezőink felismerve a sötétsugárzókban rejlő lehetőségeket, egy olyan berendezést fejlesztettek ki, amely magába foglalja a hősugárzás előnyeit egy füstgáz-visszakeveréses Eco tűzelőberendezéssel. Ez a megoldás korszakalkotó a sugárzó fűtések között. A berendezésszám, tüzelőanyag felhasználás lecsökken, kevesebb a csőhálózat is. A sugárzó szalagot nagy szabadsággal alakíthatjuk, a csőhurok hossza akár a 200m-t is meghaladhatja. Az egyenletesebb hőmérséklet-eloszlású, növelt felületű fűtőcső és hőtükör az eddig megszokottnál magasabb komfortot biztosít.</p>
        </div>
      </div>

      <div class="row text-white justify-content-around align-items-center blurb">
        <div class="col-lg-4 col-md-6">
          <h3>Miért épp sugárzó fűtés?</h3>
          <p class="text-justify">A műszaki megoldásban rejlő lehetőségekhez képest, a sugárzó fűtések méltatlanul kis szerepet kapnak a fűtéstechnikában. Ennek talán maga a sugárzás szó lehet az oka, amely a legtöbb emberben idegenkedést vált ki, pedig a legtermészetesebb fűtés, a napsugárzás elvén alapul. A sötétsugárzó berendezések számos előnnyel bírnak más fűtéskialakításhoz képest csarnokok, nagy belmagasságú terek, illetve egyes speciális megoldást kívánó műszaki, technológiai igénynél, mert a kisugárzott energia közvetlenül a talajra irányul.</p>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <img src="imgs/gyarcsarnok.jpeg" alt="">
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-12">
          <img class="img-fluid" src="imgs/kezdok5.jpg" alt="">
        </div>
      </div>
    </section>

    

    
