---
title: Infra 12B
layout: 'base.njk'
---

    <div class="container">
      <div class="row text-white">
        <div class="col" align="center">
          <h1>INFRA 12B</h1>
          <h3>RECIRKULÁCIÓS SUGÁRZÓ FŰTŐBERENDEZÉS</h3>
          <img src="../imgs/infrab.jpg" alt="infrab">
          <p>Abban az esetben ha az OHA berendezések telepítése az épület tagoltsága miatt nem lehetséges, javasoljuk a INFRA 12 B recirkulációs fűtőcsövek alkalmazását. Az új égőkonstrukció kifejlesztése során kitűzőt cél volt a teljesítmény, a gazdaságosság és a kihasználtsági fok növelése. Előkeveréses égők alkalmazásával az eddigieknél gazdaságosabb üzemet valósíthatunk meg, kevesebb gépegység beépítése mellett. A szerelése egyszerű és az ötletes műszaki megoldással, az egyszerű gépkonstrukcióból adódóan, a szervízköltségek sem emelkednek.</p>
          <a href="/pdf/infra_12b.pdf" class="btn btn-info" role="button">Katalógus (angol)</a>
        </div>
      </div>
    </div>