---
title: Infra fűtőberendezések
layout: 'base.njk'
---
    
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-5 text-right align-self-center">
          <h2>INFRA 6B - 9B - 12B</h2>
        </div>
        <div class="col-5">
          <img src="../imgs/infrak1.jfif" alt="">
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-8">
          <h3 class="text-uppercase text-center">GÁZÜZEMŰ VONALSUGÁRZÓK INFRA 6B - 9B - 12B</h3>
          <h5 class="text-center">Jól bevált sugárzóberendezések kereskedelmi, sport és ipari létesítményekbe</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Előnyök:</h5>
          <ul>
            <li>Gazdaságos üzemeltetés nagy belmagasság esetén ( H &gt; 5m ) </li>
            <li>Rozsdamentes U cső és ernyő, hosszú élettartam </li>
            <li>Zárt égésterű kivitel<br></li>
            <li>Karbantartási igénye minimális az egyszerű és kevés alkatrészt tartalmazó berendezések miatt </li>
            <li>A fűtési terület zónákra osztható</li>
            <li>A légfűtés hátrányait kiküszöböli (por,légrétegződés, stb.) </li>
            <li>Egészséges munkakörülmények a tartózkodási térben </li>
            <li>A fűtött tér folyamatos légcseréje biztosítható, nem érzékeny a szélre</li>
            <li>A tartózkodási térben kellemes közérzet biztosítható, olyan körülmények között is, amely légfűtéssel nem megoldható ( hőérzeti egyensúly ) </li>
            <li>Alacsonyabb belső hőmérsékletet kell tartani</li>
            <li>Gyorsan és egyszerűen szerelhető</li>
            <li>A beruházási költsége alacsony</li>
            <li>A beruházás várható megtérülése 2-4 év</li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row mt-3 justify-content-center">
        <div class="col-11">
          <h4 class="">Műszaki adatok</h4>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <img src="../imgs/infraadatok.jpg">
        </div>
      </div>
      <hr>
      <div class="row mt-3 justify-content-center mb-5">
        <div class="col-8 border border-info">
          <h5>A készülék elhelyezésének általános szempontjai:</h5>
          <p>A tervezési segédletben található részletes útmutató a berendezés elhelyezéséről, illetve az ügyfélszolgálatunkon kapható bővebb felvilágosítás</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 border border-right-0 border-info">
          <ul>     
            <li>Az elhelyezésnél az épület belső magassága az irányadó</li>
            <li>A tér belső tagoltságát, mozgó daruk,szállítási útvonalak figyelembevételével kell a készülék kiosztást elkészíteni</li>
            <li>A tűzelőanyag hozzávezetés biztosítható legyen</li>
            <li>Az égéstermék külső térbe jutása biztosítható legyen</li>
            <li>Tűzvédelmi védőtávolságokat be kell tartani</li>
          </ul>
        </div>
        <div class="col-4 border border-left-0 border-info">
          <img src="../imgs/infra.jfif">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 text-center">
          <img src="../imgs/infrak16.jfif">
        </div>
      </div>
    </div>