---
title: Mezőgazdasági fűtés
layout: 'base.njk'
---

    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-8 text-center">
          <h2>SYSTEMA INFRA BAF</h2>
          <h4>Nagylégterű mezőgazdasági terek költségtakarékos fűtése</h4>
          <h3>Állat- és Növénytermesztéshez</h3>
          <img src="../imgs/bafk1.jfif">
          <hr>
          <p>Az erős EU piaci verenyben elengedhetetlen a termelők megfelelő felzárkozása.<br><br>
            A termelés költségének jelentős részét teszi ki az ipari, mezőgazdasági létesítmények üzemeltetési költsége.<br><br>
            Mivel a méretekből adodóan néhány százalékos fűtési tőbblet milliós költségnövekedést okoz, lényeges az elavult rendszerek felújítása, illetve az új épületek fűtési megoldásának megfelelő kivállasztása.<br><br>
            A nagy légterek, belmagasság, folyamatos szellőztetés a légfűtést ma már gazdaságtalanná teszi, fontos, hogy a vállasztott fűtési rendszer a legideálisabban alkalmazkodjon az épület jellegéhez.<br><br>
            A rendszer kialakításánál az sem szabad figyelmen kivűl hagyni, hogy piaci igények gyors változására a termelő a legminimálisabb idő és pénzráfordítással tudjon alkalmazkodni.<br><br>
            A SYSTEMA Magyarország egy olyan kiforrt rendszert ajánl, amely messze túlmenően megfelel ezeknek a követelményeknek.<br><br></p>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center mt-3">
        <div class="col-5 text-center align-self-center">
          <img src="../imgs/bafpipi2.jfif">
          <img src="../imgs/bafk2.jfif">
        </div>
        <div class="col-5">
          <h6>Előnyök:</h6>
          <ul>
            <li>Alacsonnyabb léghőmérséklet mellett valósul meg a megfelelő hőérzet, így a hőveszteség kisebb mint konvekciós fűtésnél</li>
            <li>Gyorsan felfűthető rendszer, azonnal reagál a fűtési igények változására</li>
            <li>Zónánként is választható hőmérséklet</li>
            <li>A fűtési rendszer hatásfoka 90 % feletti</li>
            <li>Nem szükséges állandó kezelőszemélyzet</li>
            <li>Nincs kazánház, bonyolult fűtési rendszer, ezáltal a meghibásodási lehetőségek száma kisebb</li>
            <li>Megfelel a EU környezetvédelmi előírásainak</li>
            <li>A hagyományos fűtési rendszerekhez képest akár 50% tűzelőanyag megtakarítás</li>
            <li>Rossz szigetelésű épületben is hatékony</li>
            <li>Kezelése gyors, egyszerű</li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-5">
          <h4>Speciális mezőgazdasági előnyök:</h4>
          <ul>
            <li>Egyszerűen és gyorsan állítható a 
              berendezés felfüggesztési magassága, így 
              a bármilyen nővény és állatmérethez 
              illeszkedik</li>
            <li>A takarítási, gondozási feladatokat is megkönnyíti, 
              mivel a földön nincsenek csövek, szerelvények</li>
            <li>Az állatok a besugárzott zónában a számukra 
              kedvező hőmérsékletű helyet választják, 
              csökken az elhullott egyedek száma</li>
            <li>A jó körülmények hatására gyorsabb 
              a növekedés, kevesebb a beteg egyed, csökken a gyógyszerre 
              fordított összeg</li>
            <li>Egyes zónákban akár eltérő hőmérsékletet 
              is biztosíthatunk, akár különböző méretű 
              állatok számára is</li>
            <li>Nagyobb higiénai tisztaságot tesz lehetővé, 
              nincs porkeringés, csökkentve a fertőzési veszélyeket</b></li>
            <li>Szellőztetés esetén nagyobb védelmet nyújt 
              az állatok, növények számára</li>
            <li>Nincs központi fűtőegység, így kissebb 
              a kockázat egy esetleges meghibásodás esetén, 
              a részegységek egymástól függetlenül 
              dolgoznak</li>
          </ul>
        </div>
        <div class="col-5 text-center align-self-center">
          <img src="../imgs/bafpipi2.jfif">
          <img src="../imgs/bafk2.jfif">
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-10 text-center">
          <img src="../imgs/grafikon.jpg">
        </div>
      </div>
    </div>
