---
title: OHA hőszalagok
layout: 'base.njk'
---

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 text-center">
        <h1>OHA hőszalag</h1>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-4 border border-info  border-right-0 text-right">
        <p>Ipari- és sportlétesítmények, áruházak, raktárak ideális fűtőberendezése
        A tervező az igényekhez illesztheti a hőszalagot...</p>
      </div>
      <div class="col-4 border border-info border-left-0 text-center">
        <img src="/imgs/ohak11.jpeg" alt="ohak11">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <img src="/imgs/ohak3.jpeg" alt="ohak3">
      </div>
      <div class="col">
        <h6>Felépítés</h6>
        <ol>
          <li>Égőfej</li>
          <li>Tűztér</li>
          <li>Égőautomatika</li>
          <li>Szabályzó egység</li>
          <li>Fűtési gáz előre</li>
          <li>Fűtési gáz vissza</li>
          <li>Keverő és szívó ventillátor</li>
          <li>Égéstermék elvezetés</li>
        </ol>
      </div>
      <div class="col">
        <h6>Előnyök</h6>
        <ul>
          <li>Esztétikus megjelenés gazdaságos üzemelés</li>
          <li>Fűtés a padló szinttől érvényesül, nincs a padlószinten hideg zóna</li>
          <li>Kedvezőbb légrétegződés a padló és a mennyezetszint között</li>
          <li>Visszakeveréses üzemmód, jelentős megtakarítás más sugáró fűtésekhez képest</li>
          <li>Nem jelentős a helyiségen belüli légmozgás</li>
          <li>A munkaterületen komfortos hőmérséklet biztosítható, akár állandó szellőztetés mellett is</li>
          <li>Jó közérzetű helyiségek, egészséges munkakörülmények</li>
          <li>Zajmentes működés</li>
          <li>Szélre nem érzékeny</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h3>További előnyök:</h3>
        <ul>
          <li>A fajlagos beruházási költség alacsonyabb</li>
          <li>A fűtésterv egyszerűbben elkészíthető</li>
          <li>A rendszer tehetetlensége kicsi, gyorsan reagál a fűtésigény változásokra</li>
          <li>Csökkenti az üzemeltetési költségeket, tüzelőanyag megtakarítás</li>
          <li>Az egyszerű berendezésnek kicsi a karbantartási igénye</li>
          <li>Olajtüzelésre is átállítható</li>
          <li>A beruházás várható megtérülése 3-5 év</li>
        </ul>
      </div>
      <div class="col">
        <img src="/imgs/ohak4.jpeg" alt="ohak4">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <img src="/imgs/ohatabla.jpg" alt="ohatabla">
      </div>
      <div class="col">
        <h3>OHA gazdasságossági áttekintés</h3>
        <p>A mellékelt ábra alapján megállapítható, hogy a nagy belmagasságú terek fűtése esetén sugárzó fűtés alkalmazásával nagymértékű energiát takaríthatunk meg. A visszakeveréses égők és a berendezésekhez illeszthető programozható termosztátok alkalmazásával jelentős éves kihasználtsági fokot érhetünk el. Az alacsony gépszám csökkenti a karbantartási költségeket és a kiépítéssel járó egyéb kiszolgáló gépészeti berendezések számát (füstgázrendszerek, gázhálózat hossza, egyéb szerelvények).</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="/imgs/ohak5.jpeg" alt="ohak5">
      </div>
      <div class="col">
        <img src="/imgs/ohak6.jpeg" alt="ohak6">
      </div>
      <div class="col">
        <img src="/imgs/ohak7.jpeg" alt="ohak7">
      </div>
    </div>
  </div>
