---
title: example
layout: 'base.njk'
---

    <div class="container">
      <div class="row mt-4 mb-4">
        <div class="col-12 text-center">
          <h4>OHA Segédletek</h4>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 border border-right-0 border-info">
          <p> Hatásfok alakulása OHA rendszereknél<br> 
              OHA beépítési lehetőségek (angol)<br> 
              Füstcső kiosztás (angol)<br>  
              Emissziós értékek (angol)<br> 
              Szerkezeti elemek, méretek (angol)<br>  
              Fűtőcsövek illesztése (angol)<br> 
              Égőegység beépítési távolságok (angol)<br>  
              Hőfokelosztás a tartózkodási zónában (angol)<br>  
              Zajkibocsátási értékek (angol)<br>  
              Füstgáz emissziós adatok (olasz)<br> 
              Elektromos bekötési vázlat  
          </p>
        </div>
        <div class="col-md-1 text-right border border-left-0 border-info">
          <a href="/pdf/futesi_hatasfok.pdf">pdf</a><br>
          <a href="/pdf/ohabeep.pdf">pdf</a><br>
          <a href="/pdf/futocso_kiosztas.pdf">pdf</a><br>
          <a href="/pdf/emisszios_ert.pdf">pdf</a><br>
          <a href="/pdf/szerkezeti_elemek.pdf">pdf</a><br>
          <a href="/pdf/futocsovek_illeszt.pdf">pdf</a><br>
          <a href="/pdf/ego_egyseg.pdf">pdf</a><br>
          <a href="/pdf/hofokelosztas.pdf">pdf</a><br>
          <a href="/pdf/zajkibocsatas.pdf">pdf</a><br>
          <a href="/pdf/fustgaz_emisszio.pdf">pdf</a><br>
          <a href="/pdf/eletromos_bekotes.pdf">pdf</a>
        </div>
      </div>
    </div>