---
title: example
layout: 'base.njk'
---

    <div class="container">
      <div class="row mt-3 justify-content-center">
        <div class="col-10 text-center">
          <h4>Michelin gyárcsarnok</h4>
          <ul></ul>
          <img src="/imgs/michelin1.jpeg">
          <img src="/imgs/michelin4.jpeg">
          <img src="/imgs/michelin3.jpeg">
          <img src="/imgs/michelin2.jpeg">
        </div>
      </div>
      <hr>
      <div class="row mt-2 justify-content-center mb-3">
        <div class="col-5 text-center border-right">
          <h4>Hyunday gyártócsarnok</h4>
          <img src="/imgs/hyunday2.jfif">
          <img src="/imgs/hyunday1.jfif">
        </div>
        <div class="col-7">
          <h4>D.P.F. csarnok</h4>
          <ul>
            <li>Beépített teljesítmény 300kW</li>
            <li>OHA 150/200</li>
          </ul>
          <div class="row">
            <img src="/imgs/dpf.jpg">
            <img src="/imgs/dpf2.jpg">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10"></div>
      </div>
    </div>
