---
title: example
layout: 'base.njk'
---


    <div class="container" id="segedletek">
      <div class="row justify-content-center mb-5 mt-3">
        <h1>Tervezési Segédletek</h1>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-md-4 col-10 text-center">
          <img src="/imgs/dpf.jpg" alt="">
        </div>
        <div class="col-md-4 col-10 text-center my-3">
          <h5>OHA Szalagfűtés</h5>
          <p>Energiatakarékos fűtési rendszer 5-15m belmagasságú csarnokok fűtésére. Javasolt felhasználási terület: Üzemek, csarnokok, sportlétesítmények lelátói, raktárak, járműgarázsok</p>
          <div class="row">
            <div class="col-4">
              <a href="../pdf/Oha.pdf" class="btn btn-outline-info" role="button">Gépkönyv <br>(magyar)</a>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
              <a href="../pdf/OHA_inglese.pdf" class="btn btn-outline-info" role="button">Katalógus <br>(angol)</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-md-4 col-10 text-center">
          <img src="/imgs/infrab2.jpg" alt="">
        </div>
        <div class="col-md-4 col-10 text-center my-3">
          <h5>INFRA 12B Recirkulációs sugárzó fűtés</h5>
          <p>A forradalmian új konstrukció akár 60 kW fűtőteljesítmény leadására is képes a visszakeveréses égő alkalmazásával</p>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4">
              <a href="../pdf/infra_12b.pdf" class="btn btn-outline-info" role="button">Katalógus <br>(angol)</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-md-4 col-10 text-center">
          <img src="/imgs/eoloax2.jpg" alt="">
        </div>
        <div class="col-md-4 col-10 text-center my-3">
          <h5>EOLO Hőlégfúvók</h5>
          <p>Alacsony belmagasságú terek fűtésére, illetve sugárzó fűtéssel kombinálva magas komfortérzetű épületek hőigényének fedezésére</p>
          <div class="row">
            <div class="col-4">
              <a href="../pdf/Eolo.pdf" class="btn btn-outline-info" role="button">Gépkönyv <br>(magyar)</a>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
              <a href="../pdf/Eolo_inglese.pdf" class="btn btn-outline-info" role="button">Katalógus <br>(angol)</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-md-4 col-10 text-center">
          <img src="/imgs/infra.jpg" alt="">
        </div>
        <div class="col-md-4 col-10 text-center my-3">
          <h5>INFRA Sugárzó fűtőberendezés</h5>
          <p>Erősen tagolt belső terű épületek, illetve kis zónák kialakítására 12m-es belmagaságig, ahol az OHA rendszer kialakítása nem lehetséges</p>
          <div class="row">
            <div class="col-4">
              <a href="../pdf/infrab.pdf" class="btn btn-outline-info" role="button">Gépkönyv <br>(magyar)</a>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
              <a href="../pdf/Infra_inglese.pdf" class="btn btn-outline-info" role="button">Katalógus <br>(angol)</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-md-4 col-10 text-center">
          <img src="/imgs/bafpipi.jpg" alt="">
        </div>
        <div class="col-md-4 col-10 text-center my-3">
          <h5>INFRA BAF Mezőgazdasági sugárzó fűtés</h5>
          <p>Üvegházak, állattelepek ideállis, állítható magaságú fűtőberendezése</p>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4">
              <a href="../pdf/InfraBaf_inglese.pdf" class="btn btn-outline-info" role="button">Katalógus <br>(angol)</a>
            </div>
          </div>
        </div>
      </div>
    </div>
