---
title: example
layout: "base.njk"
---

<div class="container szolg">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-10 col-12 text-center">
      <img src="/imgs/szolgaltat.jpg" />
      <a class="btn btn-info" href="mailto:solymos@invent-systema.hu">Ajánlat kérés</a>
    </div>
  </div>
</div>
